<%= stylesheet_link_tag('simple-tabs','datePicker','colorbox','jquery.cluetip.css')%>
<%= javascript_include_tag('simple-tabs','all','jquery.table.addrow','jquery.datePicker','date','jquery.colorbox-min','jquery.tools.min','jquery.hoverIntent','jquery.cluetip','challenge_new')%>
<%= render 'layouts/loggedinbody'%>

<div class="topbar">
<table>
<tr><td width="470px"></td><td><%= image_tag("invite.PNG")%>&nbsp;&nbsp;&nbsp;<font color="gray"><b  id="image"></b></font></td><td></td></tr>
</table>
</div>


  
<script type="text/javascript" src="../includes/js/jquery.min.js"></script>  
<script src="http://connect.facebook.net/en_US/all.js"></script>  
<div id="fb-root"></div> 	
    <script>
      FB.init({ 
         appId  : '232592880122189', 
         status : true, // check login status 
         cookie : true, // enable cookies to allow the server to access the session 
         xfbml  : true  // parse XFBML 
         });
    FB.getLoginStatus(function(response) { 
                 if (response.session)
            { 
                       globaluserid=response.session["uid"]; 
					   name=globaluserid;
			
					  
						}
						}
						);
						FB.api('/me', function(response) {
var user = response.name
  $("#image").append(user);
});

						
    </script>	
