<div>

<script>
<div class="platform_dialog_header">Invite Friend</div>

window.fbAsyncInit();
      FB.ui({
          method: 'send',
		 
          name: 'Register with Dojitsu',
          link: 'http://www.nytimes.com/2011/06/15/arts/people-argue-just-to-win-scholars-assert.html',
          });
     </script>

</div>
