<%= stylesheet_link_tag('userconnections')%>
<div class="dashboardsidebar">
<table bgcolor="#f4f4f4">
	<thead>
		<tr>
			<td width=10%>
			      <font size="4" color="#8c8c8c"><b  id="total">Total: </b><b id="total"><%= current_user.challenges.size %> </b></font>
			</td>
			<td width=40%>


			</td>
			<td width=50% id="button_new">
			     <%= button_to "", new_challenge_url, :class => "new_challenge_button1", :method => :get%>
			</td>
		</tr>
	</thead>
</table>

<div style="overflow-y: auto; overflow-x: width: 10%; hidden;  height : 440px;" id="challengedetails1">
       <%= render 'dashboard/challengeProgress' %>
</div>


<style>
#select
{
background-color:#ffffff;
width:180px;
border-color:#d7d7d7;
boder:1px solid;
}

#button_new
{
text-align:right;
}
#content2
{
padding-left:260px;
}
#p
{
text-align:right;
}
#content1 {
    background-position: 15% center;
}
</style>
