<% as= current_user.challenges.size %>

<div class="dashboardsidebar">
						<div style=" width:100%; "  class="mychallenge2">
							<div  style=" width:100%; "  id="titlechallenge1">
								<div style="padding-left:16px;">
									<font color="black"><b>Total :</b><b><%= as %> </b></font>
									
								</div>
								<div  style=" width:100%; " class="second_titlechallenge">
									<%= button_to "", new_challenge_url, :class => "new_challenge_button1", :method => :get%>
								</div>
							</div>						
							
							<div style="overflow-y: auto; overflow-x: width: 1%; hidden;  height : 450px;" id="challengedetails1">
								<%= render 'dashboard/challengeProgress' %>
							</div>
						</div>
					</div>