<table>
	<thead>
		<tr id="tableheader">
			<th>NAME
			</th>
			<th>RANK
			</th>
			<th>MY SCORE
			</th>
			<th>TOP SCORE
			</th>
			<th>LAST UPDATE
			</th>
		</tr>
	</thead>
	<tbody>
		
	</tbody>
</table>
<style>
th
{
	text-align: center;
	color: #666666;	
}
</style>