<% as= current_user.challenges.size %>

<div class="dashboardsidebar">
	<div class="mychallenge">
		<div id="titlechallenge">
			<div class="my_challenges_box">
				MY CHALLENGES <span class="my_challenges_spancolor"><b>( <%= as %> ) </b></span>
			</div>
			<div class="second_titlechallenge">
				<%= button_to "", new_challenge_url, :class => "new_challenge_button", :method => :get%>
			</div>
		</div>						
		<div class="dashboard_sidebardetails" id="challengedetails">
		<%= render 'dashboard/challengeProgress'%>
		</div>
	</div>
</div>