<div class="challange">
	my dashboard
</div>

<% as= current_user.challenges.size %>
<table>
	<td>
	<content>		
	<table>
		<td>
			<tr>
				<td>
					<%= render :partial=> "dashboard/dashboardsidebar" %>						
				</td>
			</tr>
			<tr>
				<td>	
					<div class="dashboardsidebar1">
						<%= render :partial=> "dashboard/dashboard_message" %>
					</div>
				</td>
			</tr>
		</td>
	</table>
	</content>
    </td>
	<td valign=top>
		<div class="dashboardsidebar2">
			<%= render :partial=> "dashboard/dashboard_whatsnew" %>
		</div>
	</td>
</table>
