<div class="span-24 homecontent">
  
    <% if !current_user.nil? %>
      <%= render :template =>'dashboard/index'%>

    <% else %>
	   <%= link_to image_tag("registerlogo1.PNG", :height => '529', :width => '950'),"#"%>
      <%= render 'layouts/nonloggedinbody'%>
    <% end %>
  
</div>