  <p>Turn Group Projects into Social Game</p>
  <p>
    <% if current_user.nil? %>
      <%= link_to "Register Now!", new_user_registration_path, :class => "signup_button round" %>
    <% end %>
  </p>

  <p> Today's New Challenges </p>
  <ul>
    <% Challenge.all.each do |e|%>
      <li><%= link_to  e.title, 'challenges#show' %></li>
    <% end %>
  </ul>
