<table width="100">
	<tr>
		<td width="60%">
			<ul class="tabs1">
				<li><a href="#tab5"><b>Against Others</b></a></li>
				<li><a href="#tab6"><b>Against Myself</b></a></li>
			</ul>
			<section class="tab_container">
				<section id="tab5" class="tab_content1" style="background:white;">
					<%= render :partial=> "challenges/soc_againstothers" %>
				</section>
				<section id="tab6" style="background:white;" class="tab_content1">
					
						<%= render :partial=> "challenges/soc_againstmyself" %>		
					
				</section> 
			</section> 
		</td>
	</tr>
</table>
