<table width="100%" border="0" >
		<tr>
			<td colspan="3">
				<ul class="tabs1">
					<li><a href="#tab3"><b>Against Others</b></a></li>
					<li><a href="#tab4"><b>Against Myself</b></a></li>
				</ul>
					<section class="tab_container22">
								<section id="tab3" class="tab_content1" style="background:white;">
									<%= render :partial=> "challenges/soc_againstothers" %>
								</section>
								<section id="tab4" style="background:white;" class="tab_content1">
										<section class="tables">
										  <blink>Work is in progress</blink>
											<%#= render :partial=> "challenges/searchpeople" %>		
										</section>   
								</section> 
					</section> 
</td>
 </tr>
</table>