<%= form_for @challenge, :url => {:action => "date_update"}  do |f| %>
							<table>
											<tr>
															<td width="50px;"> 
																<div class="styled-select">
																<%= select_tag "start_point_type", "<option value='startPointDate'>Date</option><option value='startPointNumber'>Number</option>".html_safe , :required => "required" %>
																</div>
															</td>  
															<td colspan="2">					
																<div class="startPointDate">
																</div>
																<div class="startPointNumber">
																</div>				
															</td>  
											</tr>
											<tr>
									<td colspan="4">
									<%=%>
									 <span class="button_link">  <%= link_to image_tag("update.png" ), date_update_challenges_path(:id => @challenge)%></span>
				
											
										<input type="button"  value="CANCEL" onclick="cancel();"  :style ="text-decoration: none; color:#fff; float:right; width: 100px; float:right; margin-right: 0px;"  class = "links_cancel">
										</td>
								</tr> 
							</table>
<% end %>