
<table>
	<tr>
			<td width=50%>
				<b  id="total"> HOW AM I DOING ? </b>
			</td>
			<td>
				<% if @challenge.is_complete != 1 %>
					<input type="button" value="I'm Done with this challenge >> Submit my score <%#= score_array.max%>" class="links_score_p" onclick="mark_as_complete();"/>
					<%#= button_to "I'm Done with this challenge >> Submit my score #{total-total_score } ",:id=>"button_color" %>
				<% end %>
			</td>
	</tr>
</table>

	<hr/>
	<br/>
	
<table>
	<tr>
		<td width=10%>
			Ranks
		</td>
		<td width=10%>
			<%= image_tag (current_user.facebook.picture), :id=>"image" %>
		</td>
		<td width=10% id="td_content_percentage" >		
		</td>
		<td width=60%>
			
		</td>		
		<td width=10%>
		</td>
	</tr>
</table>





<style>

#image
{
position:relaticve;
margin-top:0px;
}
#score_under_progress1
{
color:#008000;
font-weight:bold
}
#score_under_progress_in_words1
{
color:#8C8C8C;
font-weight:bold;
}
#top_score_list
{
color:#8C8C8C;
font-weight:bold;
}
p{
color:green;
font-weight:bold;
font-size:26px;
margin-top:20px;
}
#top_score1
{
padding-left: 50%;
font-weight:bold;
font-size:16px;
color:gray;
}
.tasks_color
{
font-size:16px;
font-weight:bold;
color:green;
}
#points
{
font-size:16px;
font-weight:bold;
color:gray;
}

.notcompleted2 {
    color: #FFFFFF;
    float: left;
    left: 1%;
    position: relative;
    top: 12%;
}
#update_progress {
    margin-right: -10px;
    padding-left: 100px;
    position: relative;
}
#button_color
{
background-color:orange;
color:white;
margin-right:20px;
}
.task
{
	width:100%;
	}
#td_content_percentage1
{
color:green;
font-weight:bold;
font-size:20;
text-align:right;
font-size:22px;
}

</style>

