
<div id="ch_main_div"> 
    <b><h4>hiiiii</h4></b>
    <div id="ch_main_div1"> 
        testing
        <hr/>
        <table width=100%>
            <tr>
                <td>
                    <%= Challenge.winner('4ef1a6a454b53001a4000067') %>
                </td>
                <td>
                    <%#= debug Challenge.task_score %>
                </td>
            </tr>
        </table>
    </div>
</div>