<%= stylesheet_link_tag('status_update')%>
<%@challenge = Challenge.find(params[:id])%>

<div class="maindiv">
	<span id="textstyle">Accepting  Challenge?</span>
	<div class="subdiv">
		<div class="divspac">
		 <table width="100"><br><br>
				 <tr>
						<span class="styletext">Please accept the challenge before updating your performance.</span><br><br>
				 </tr>
				<tr >
						<td  width="20%">  
								<%= link_to image_tag("accepted.png"), update_status_again_challenges_path(:id => @challenge.id , :status => 1) %>
						</td> 
						<td   >
								<%= link_to image_tag("declane.png"), update_status_again_challenges_path(:id => @challenge.id , :status => -1)%>
						</td>
						<td width="60%">
								 <%= link_to image_tag("thinkbutton.png"), update_status_again_challenges_path(:id => @challenge.id , :status => 0)  %>
						</td>
				</tr>
		</table>
		</div>
	</div>
</div>
<style>

.styletext
{
	color: #666666;
    font-size: 12px;
    font-weight: bold;
}
.divspac
{
	margin-left: 60px;
}

</style>