<%= stylesheet_link_tag('ui.core','ui.progressbar','ui.theme')%>
<%= javascript_include_tag('jquery-1.3.2', 'ui.core','ui.progressbar')%>
<div class="mychallenge">
<div id="titlechallenge">
My Challenges
</div>
<div id="subbar">
<div id="name">
Name
</div>
	<div id="score"> MY DOJITSU SCORE </div>
</div>
<div id="challengedetails">
			<div id="challengepart">
			<br>
						<table>
								<td id="content1">
								<font size=3>ABC Challenge</font><br><font size=2>by Sun Yu</font><br> Starting Point-End Point<br>
								</td>
								<td id="content2">
										<div>								
										    <div id="taskprogress"></div>
												  $(function() {
													  
														//call progress bar constructor
													  $("#taskprogress").progressbar({ value: 50 });
														
														//set mouseover for progress bar
													
														
														  //display the current value
														  $("<p>").attr("id", "check").text($("#taskprogress").progressbar("option", "value") + "% Completed ").appendTo("body");
															
													
														
													});
												</script>
										</div>
								</td>
						</table>
					
			</div>
</div>

</div>
