
<h3>All Challenges</h3>
	<% if @challenges.blank? %>
		<p>no challenges at all.</p>
	<% else %>
	<div id="ch_index_list" style="width:100%; float:left;">
		<% @challenges.each do |c| %>
			<%= link_to c.title, {:action => 'show', :id => c.id } %><br>
		<% end %>	
	</br>
	</div>
<% end %>
<br/>
<p><%= link_to "Create New Challenge", new_challenge_url %></p>
