<div id="mychallenge_boarder">
	<div id="mychallenge">
		<b style="margin-left:10px; float:left;">MY CHALLENGES <font style="color:#fff">(<%= @my_total_challenge%>)</font></b>
		<%= link_to "NEW", new_challenge_path, :class => "new_challenge_button", :style=>"float:right; margin-right:10PX; text-decoration: none; color:#fff;"%>
	</div>
	<div style="height:2px;"><hr style="color:#0066CC;width:100%; height:2px;"></div>
	<div id="mychallenge_name">
		<h3 style="color:#000000; font-size:12px; margin-top:3px; margin-left:10px;">NAME </h3><p align="right" style="margin-right:10px;">MY DOJITSU SCORE </p>
	</div>
	<div style="margin-bottom:20px;">
		<% debug @my_all_ch%></br>
		<% @my_all_ch.each do |ch|%>
		<div id="mychallenge_cont">	
			<font style="color:#000; font-size:24px;"><%= ch.title%></font><br>
			<font style="color:#000; font-size:16px;"><b>by <%= @org.fname%></b></font></br>
			Starting Point-End Point<br>
			128 contestants<br>
		</div>
		<hr style="color:#0066CC;width:100%; height:2px; margin-top:20px;">
		<% end %>	
	</div>
</div>
