<div id="mychallenge_boarder">
	<div id="mychallenge"> My Challenges</div>
	<div style="height:2px;"><hr style="color:#0066CC;width:100%; height:2px;"></div>
	<div style="background-color:#bebebe">Name</div>
	<div>
		hik
	</div>
</div>
