<%= render 'layouts/loggedinbody'%>

<table>
          <td>
              <tr>
                  <td>
                      
                      <div class="mychallenge">
			                  
			          </div>
                      
                  </td>
              </tr>
		</td>
</table>