<%= render 'layouts/loggedinbody'%>
<div id="ch_main_div">
<div id="ch_main_div_score">
<table>
<tr><th><b><h2>Winner of the paticpants score:</h2></b></th><th></th><th></th></tr>
<tr  bgcolor=#d7d7d7><th>Participants</th><th>level</th><th>Score</th></tr>
<tr>
<table>

        <tr>

        </tr>

</table>
</tr>
</table>
</div>
</div>
