<%= render 'layouts/loggedinbody'%>
<%= form_for @challenge do |f| %>
<div id="personal_challenge_main">
	<div id="personal_challenge_containt">
		<table width="100%" border="0" border cellspacing=12px>
			<tr>
				<div class="title">
					<p class="allcaps"><font color="orange"><%= on_the_spot_edit @challenge, :title, :type=> :text %></p></font></h1></b>
				</div>
			</tr>
			<tr>
				<table border=1px width=500px height=60px bgcolor=white>
					<tr>
						<td width=120px valign="top">
							<b><font color=	#909090>DESCRIPTION</b>
						</td>
						<td class="editable">
							<%= on_the_spot_edit @challenge, :description, :type => :textarea %>
						</td>
					</tr>
				</table>
				<hr/ width=400px>
			</tr>
        </table
	</div>
</div>
<% end %>