<div>
	<%= debug @name %>
	<%= text_field_tag "name", @name, :class => "textfield_effect_nw_tk_title" %>							
	<%= link_to "CANCEL", challenges_path, :style => "text-decoration: none; color:#fff; float:right" ,:class => "links_cancel"%>
	<%= link_to "UPDATE", "#", :style => "text-decoration: none; color:#fff; float:right; margin-right:5px;" ,:class => "task_links_cancel"%>
</div>