<%= stylesheet_link_tag('simple-tabs')%>
<%= javascript_include_tag('simple-tabs')%>

					<ul class="tabs">
    					<li><a href="#tab1">Gallery</a></li>
    					<li><a href="#tab2">Submit</a></li>
					</ul>

					<div class="tab_container">
    					<div id="tab1" class="tab_content">
        					<!--Content-->
    					</div>
    					<div id="tab2" class="tab_content">
       						<!--Content-->
    					</div>
					</div>
