#theadtopscore
{
float: right;
}

.bordercolortdb {
    margin: 3px 5px 5px;
    padding-left: 15px;
};
#extraspace
{
 width: 20%;
}
#rankspoints
{
color: #F8981D;
font-weight: bold;
font-size: 19px;
}
th
{
	
	color: #666666;	
}
#namespace
{
	border-left: 2px solid #FFFFFF;
}
#lastupspace
{
	border-right: 2px solid #FFFFFF;
}

.ui-widget-content {
    border: 1px solid #AAAAAA;
    color: #222222;
    float: right;
    position: relative;
    top: 20px;
    width: 104%;
}
.overalltasks {
    color: #7AC142;
    font-size: 12px;
    font-weight: bold;
    left: -8px;
    position: relative;
    text-align: left;
    top: 21px;
    width: 30%;
}

#other_tasks
{
font-weight: normal;
font-size: 12px;
color: #7AC142;
left: -55px;
position: relative;:
}
#checkit1 {
    color: #7AC142;
    float: right;
    font-size: 19px;
    font-weight: bold;
    position: relative;
    right: 5%;
    top: 4px;
}
.pointscolor2 {
    color: #F8981D;
    float: left;
    font-size: 12px;
    font-weight: bold;
    left: 193px;
    position: relative;
    text-align: right;
    top: 2px;
}

#spancefortext2 {
float: right;
position: relative;
right: 0%;
}
#theadmyscore {
    float: left;
    left: -7%;
    position: relative;
}



.timestyle2 {
    color: #666666;
    float: right;
    font-weight: bold;
    position: relative;
    right: -15px;
    width: 110%;
}
#spancefortextother {
    float: right;
    position: relative;
    right: 67%;
}
.bordercolort {
    margin: 3px 5px 5px;
    padding-bottom: 17px;
    padding-left: 16px;
}