
.stedpoint
{
	 color: #666666;
	 font-weight: bold;
}
.chname
{
	color: #666666;
	 font-weight: bold;
}

#spancefortext2
{
	background: #BBBBBB;
}
#spancefortext3
{
	background: #BBBBBB;
}
#spancefortext4
{
	background: #BBBBBB;
	 border-right: 2px solid #FFFFFF;
}
#checkit {
    color: #7AC142;
    float: right;
    font-size: 15px;
    font-weight: bold;
    position: relative;
    right: 106%;
    top: -20px;
    width: 10%;
}

.pointscolor1 {
    color: #F8981D;
    float: left;
    font-weight: bold;
    left: 300px;
    position: relative;
    top: -18px;
}

.ui-corner-all
{
border-radius: 0 0 0 0;
}
.completedtask {
    color: #7AC142;
    font-weight: bold;
    left: 30px;
    position: relative;
    top: 22px;
    width: 40%;
}
.notcompleted
{
	float:left;
	left:3px;
	position:relative;
	color:#F8981D;
	top: 5px;
}

.taskprogress {
    float: left;
    left: 27px;
    position: relative;
    top: 20px;
    width: 140%;
}
thead th {
    background: none repeat scroll 0 0 #BBBBBB;
}
#borderalign
{
 margin-top: 3px;
 border-left: 2px solid #FFFFFF;
}
#tableheader
{
    border-collapse: separate;
    border-spacing: 2;
}
#spancefortext
{
	float: right;
	position: relative;
	 right: 67%;
}
#spancefortext1 {
    float: right;
    position: relative;
    right: 20%;
	background: #BBBBBB;
}

#spancefortextother {
    float: right;
    position: relative;
    right: 67%;
}
.timestyle1 {
    color: #666666;
    float: right;
    font-weight: bold;
    position: relative;
    right: -15px;
    width: 110%;
}