.new_challenge_button_new1 {
    background: url("new1.PNG") no-repeat scroll left center #F8981D;
    float: left;
    font-family: arial;
    height: 25px;
    left: 90px;
    min-width: 70px;
    position: relative;
    text-align: right;
    top: 2px;
}
.table
{
		background:#ffffff;
}
.challenge_link1 
{
    color: gray;
    font-family: arial;
    font-size: 12px;
    font-weight: bold;
    left: 100px;
    position: relative;
    text-decoration: none;
    top: 7px;
	text-decoration: none;
	color: #666666;
}

.challange{
	color: #F8981D;
    font-size: 20px;
    margin-bottom: 10px;
    text-transform: uppercase;
	font-size: 25px;
	font-weight: bold;
	
}
.colorligtblk
{
	color: #999999;
}
.colorligtblk1
{
	color: #999999;
	font-weight: bold;
	float: left;
}

.colordarkblk
{
	color: #666666;
	font-weight: bold;
}

.textdecoration
{
	text-decoration:none;
}
.marginalign
{
	margin-top:0px;
}
.tab_content
{
	background:#F5F5F5;
}

.button_edit
{
	background:#f8981d; color:#ffffff; 
 }
.cancel_edit
{
	background:#999999; color:#ffffff; 
}
	
.ui-widget-header 
{
		background: none repeat scroll 0 0 #7AC142;
		border: 1px solid #AAAAAA;
		color: #222222;
		font-weight: bold;
}
	
.donedivbutton
{
	position:relative; 
	margin-top:-40px; 
	margin-bottom:-15px; 
	float:left; 
	left:400px;
}

#cancelbutton
{
   color: #FFFFFF;
    float: right;
    position: relative;
    right: -80%;
    text-decoration: none;
    top: 5px;
    width: 75px;
}
#donebutton
{
    background: none repeat scroll 0 0 #F8981D;
    color: #FFFFFF;
    float: right;
    height: 30px;
    margin-right: 10px;
    position: relative;
    right: -80%;
    top: 25px;
    width: 90px;
}
