#jfmfs-container-wrapper {
	background-color: #f2f2f2;  	
}

.socialinvitemodal {
}         

div.ui-dialog-titlebar{
}


.hidden {
    display: hidden;
}             

.floatleft {
	float: left;
}


td.taskScorebySelection select {
	width: 100%;
} 

td.taskSelection select {
	width: 222px;
}

.taskIcon {
	width: 5px;
}

.color999 {
	color:#999999;

}
.ui-datepicker-trigger
{
margin-left:10px;
}