
.atable{
border-collapse:collapse;
border:1px solid #AAA;
width:97%;
}
.topcalss {
background-color: gray;

}
.atable th{
border:1px solid #AAF;
background:#ADD8E6;
font-weight:bold;
}

.atable td{
padding:4px;
border:1px solid #AAF;
}

.oddRow{
background:#FFFFFF;
}

.evenRow{
background:#F0F8FF;
}
.allcaps {
font-variant: small-caps;
text-transform: uppercase;
}

#ch_main_div {
    border-color: #F4F4F4;
    border-radius: 5px 5px 5px 5px;
    border-style: solid;
    border-width: 10px;
    margin-top: 35px;
}

#ch_main_div1{
border-width:60px;
   border-style:solid;
    border-radius: 15px 15px 15px 15px;
   border-color:#ffffff;
margin-top:10px;
-moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    border-radius: 5px;
}
#ch_main_div2{
border-width:5px;
   border-style:solid;
    border-radius: 15px 15px 15px 15px;
   border-color:#f4f4f4;
margin-top:10px;
-moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    border-radius: 5px;
background-color:#ffffff;
}