#jfmfs-container-wrapper {
background-color: #f2f2f2;
}

.socialinvitemodal {
}

div.ui-dialog-titlebar{
}


.hidden 
{
    display: hidden;
}

.floatleft 
{
	float: left;
}


td.taskScorebySelection select 
{
	width: 100%;
}

td.taskSelection select 
{
	width: 130%;
}

.taskIcon 
{
	width: 5px;
}

.color999 
{
	color:#999999;
        
}
.ui-datepicker-trigger
{
	margin-left:10px;
}


.challengecre
{
	margin-top:0px;
}
.endpointdatenumber
{
	float: left;
}
.styleselect
{
	width:300px;
}
.addRow
{
	 position:relative;
	 top:-43px;
	 left:25px;
}

.ui-draggable .ui-dialog-titlebar 
{
    background: none repeat scroll 0 0 #8497BF;
    cursor: move;
}

.ui-dialog .ui-dialog-title 
{
    color: #FFFFFF;
    float: left;
    margin: 0.1em 16px 0.1em 0;
}

.ui-dialog .ui-dialog-buttonpane button 
{
    background: none repeat scroll 0 0 #8497BF;
    color: #FFFFFF;
    cursor: pointer;
    margin: 0.5em 0.4em 0.5em 0;
	font-weight: bold;
}
.selectagwidth
{
	width:130%;
}

.links 
{
	background: none repeat scroll 0 0 #f9a943;
	border-radius: 3px 3px 3px 3px;
	color: #FFFFFF;
	display: block;
	font-size: 12px;
	margin: 20px 0;
	padding: 5px;
	text-align: center;
	text-transform: uppercase;
	width: 90px;
	margin-right:10px;
	position: relative;
    right: -38%;
    text-align: center;
}

.linksnew
{
	background: none repeat scroll 0 0 #f9a943;
	border-radius: 3px 3px 3px 3px;
	color: #FFFFFF;
	display: block;
	font-size: 12px;
	margin: 20px 0;
	padding: 5px;
	text-align: center;
	text-transform: uppercase;
	width: 90px;
	margin-right:10px;
	position: relative;
    right: -78%;
    text-align: center;
}

.links_cancel1
{
	background: none repeat #999999;
    height: 21px;
    color: #FFFFFF;
    display: block;
    float: right;
    font-size: 12px;
    margin: 20px 10px 20px 0;
    padding: 5px;
    text-align: center;
    text-transform: uppercase;
    width: 80px;

}
.links_cancel1:hover
{
	color: #FFFFFF;
}


.textfield_effect
{

    background-repeat: repeat-x;
    font-family: Arial;
    max-width: 49%;
}

.bgcolorb
{
	background-color: #f5f5f5;
}

.titlewidth
{
	height: 30px;
	width: 	45%;
}

.replacetitle
{
   float: right;
    height: 30px;
    position: relative;
    right: 37%;
    top: 9px;
    width: 13%;
}

.replace_cancel
{
	background: none repeat scroll 0 0 #999999;
    color: #FFFFFF;
    display: block;
    float: right;
    font-size: 12px;
    height: 19px;
    margin: 10px 24% 20px 0;
    padding: 5px;
    position: relative;
    right: -17%;
    text-align: center;
    text-transform: uppercase;
    top: 0;
    width: 80px;
}
.replace_cancel:hover
{
	color: #FFFFFF;
}

.replace_cancel_desc
{
	background: none repeat scroll 0 0 #999999;
    color: #FFFFFF;
    display: block;
    float: right;
    font-size: 12px;
    height: 19px;
    margin: 10px 23% 20px 0;
    padding: 5px;
    position: relative;
    right: -14%;
    text-align: center;
    text-transform: uppercase;
    top: 41px;
    width: 80px;
}

.replacedesc
{
	float: left;
        height: 30px;
        left: 1%;
        position: relative;
        top: 80px;
        width: 16%;
}

.replace_cancel_desc:hover
{
	color: #FFFFFF;
}

textarea
{
	
    border-color: #999999;
    border-style: solid;
    border-width: 1px;
    color: #333333;
    float: left;
    font-family: Arial;
    font-size: 12px;
    height: 100px;
    position: relative;
    width: 240px;
}

.updatedesccolo
{	
	color: #666666;	
}

.replace_cancel_desc1
{
background: none repeat scroll 0 0 #999999;
   display: block;
    float: right;
    font-size: 12px;
    height: 19px;
    margin: 0 -10% 0 0;
    padding: 5px;
    position: relative;
    right: -20%;
    text-align: center;
    text-transform: uppercase;
    top: 50px;
    width: 60px;
}

.onthespandescription
{	
	color: #666666;
	font-weight: bold;
}

#on_focus_textarea
{
        color:#666666;
        background:#f4f4f4;
	max-width: 806px; 
	min-width:806px; 
	
}
#on_focus_textarea:hover
{
	height: 60px;
        background:#fff;
}

#challenge_task_attributes__score
{
     background:#f4f4f4;
}
#challenge_task_attributes__score:hover
{
     background:#fff;
}
#challenge_task_attributes__name
{
     background:#f4f4f4;
}
#challenge_task_attributes__name:hover
{
     background:#fff;
}
#start_point_value
{
    font-style:italic;
}
#end_point_value
{
    font-style:italic;
}
.ui-state-highlight, .ui-widget-content .ui-state-highlight, .ui-widget-header .ui-state-highlight {
border: 1px solid #F8981D/*{borderColorHighlight}*/;
background: white;
color: #363636/*{fcHighlight}*/;
border-image: initial;
}
.ui-datepicker th {
text-align: center;
font-weight: bold;
border: 0;
color: #666;
border-image: initial;
}
.ui-datepicker-month{
    color:#666666;
}
.ui-datepicker-year
{
    color:#666666;
}
.ui-state-hover .ui-icon, .ui-state-focus .ui-icon {
background-image: url(images/leftarrow.png)/*{iconsHover}*/;
}
#start_point_value {
    background:#f4f4f4;
    font-weight: bold;
}
#end_point_value {
    background:#f4f4f4;
    font-weight: bold;
}
#start_point_label {
    background:#f4f4f4;
    font-weight: bold;
}
#end_point_label {
    background:#f4f4f4;
    font-weight: bold;
}
#addparticipant{
    color:#666666;
    font-weight:bold;
}
#savechallenge{
    color:#666;
    font-weight:bold;
    padding:2px 0 2px 0;
}
#templatename {
    color: #999999;
    font-size: 12px;
    font-weight: bold;
    padding-right: 20px;
}
#templatenameinput
{
width:85%;
height:30px;
color:#666666;
font-weight:bold;
background:#f4f4f4;
}
.challenges_checkbox{
	color:#f9a943; 
	font-size:12px; 
	margin-top:15px;
}
.challenges_selfreported{
	color:#f9a943; 
	font-size:12px; 
	margin-top:15px;
}
.popup_multiplyicon{
	height:15px; 
	width:10px;
}

		#popupboxthird
		{
		width:70px;
		 height:20px; 
		 font-weight:bold; 
		 font-family:arial; 
		 font-size:12px; 
		 background:#f4f4f4;
		 color:#666666;  
				}
		#popupboxsecond
		{
	width:110px;
	height:20px; 
	font-weight:bold; 
	font-family:arial;
	font-size:12px; 
	background:#f4f4f4; 
	color:#666666;
		}
		#popupboxfirst
		{
		width:200px; 
		height:20px;
		font-weight:bold; 
		font-family:arial; 
		font-size:12px;
		background:#f4f4f4; 
		color:#666666;
		}
		#checkboxtext1
		{
		color:#666666;
		top:62px;
		float:left;
		left:160px;
		position:absolute;
		font-size:13px;
		font-style:italic;
		}
		#checkboxtext2
		{
		color:#666666;
		top:123px;
		float:left;
		left:158px;
		position:absolute;
		font-size:13px;
		font-style:italic;
		}
		#checkboxtext3
		{
		color:#666666;
		top:182px;
		float:left;
		left:160px;
		position:absolute;
		font-size:13px;
		font-style:italic;
		}
		
     #add_participant{ 
	 white-space:nowrap; 
	 }
	 #participant
	{
		display: block;
		height: 52px;
		margin-top: -18px;
		overflow: hidden;
	}

