#jfmfs-container-wrapper {
	background-color: #f2f2f2;  	
}

.socialinvitemodal {
}         

div.ui-dialog-titlebar{
}


.hidden {
    display: hidden;
}             

.floatleft {
	float: left;
}


td.taskScorebySelection select {
	width: 100%;
} 

td.taskSelection select {
	width: 130%;
}

.taskIcon {
	width: 5px;
}

.color999 {
	color:#999999;

}
.ui-datepicker-trigger
{
margin-left:10px;
}


.challengecre
{
	margin-top:0px;
}
.endpointdatenumber
{
		float: left;
}
.styleselect
{
	width:300px;
}
.addRow
{
 position:relative;
 top:-43px;
 left:25px;
}
@media screen and (-webkit-min-device-pixel-ratio:0)
 {
		.addRow 
		{
			position:relative;
			margin-top:3%;
			left:25px;
		}
}

.ui-draggable .ui-dialog-titlebar {
    background: none repeat scroll 0 0 #8497BF;
    cursor: move;
}
.ui-dialog .ui-dialog-title {
    color: #FFFFFF;
    float: left;
    margin: 0.1em 16px 0.1em 0;
}
.ui-dialog .ui-dialog-buttonpane button {
    background: none repeat scroll 0 0 #8497BF;
    color: #FFFFFF;
    cursor: pointer;
    margin: 0.5em 0.4em 0.5em 0;
	font-weight: bold;
}
.selectagwidth
{
	width:130%;
}

.links {
	background: none repeat scroll 0 0 #f9a943;
	border-radius: 3px 3px 3px 3px;
	color: #FFFFFF;
	display: block;
	font-size: 12px;
	margin: 20px 0;
	padding: 5px;
	text-align: center;
	text-transform: uppercase;
	width: 90px;
	margin-right:10px;
	position: relative;
    right: -78%;
    text-align: center;
}

.links_cancel1{
	background: none repeat #999999;
   	height: 21px;
    color: #FFFFFF;
    display: block;
    float: right;
    font-size: 12px;
    margin: 20px 10px 20px 0;
    padding: 5px;
    text-align: center;
    text-transform: uppercase;
    width: 80px;
	
}
.links_cancel1:hover{
	color: #FFFFFF;
}

.textfield_effect
{
	
    background-repeat: repeat-x;
    font-family: Arial;
    width: 49%;
}
.textfield_effect
{
	
    background-repeat: repeat-x;
    font-family: Arial;
    width: 49%;
}

.bgcolorb{
	background-color: #f5f5f5;
}

#challenge_title
{
	height: 30px;
	width: 35%;
}

.replacetitle
{
	height: 30px;
    position: relative;
    top: 9px;
    width: 10%;
}

.replace_cancel
{
	background: none repeat scroll 0 0 #999999;
    color: #FFFFFF;
    display: block;
    float: right;
    font-size: 12px;
    height: 19px;
    margin: 10px 43% 20px 0;
    padding: 5px;
    text-align: center;
    text-transform: uppercase;
    width: 80px;
}
.replace_cancel:hover
{	
	color: #FFFFFF;
}