body {font-family:arial; font-size:11px;}
	
	#nav {
		margin:0; 
		padding:0; 
		list-style:none;
	}	
	
		
		#nav li {
			float:right;
			 right:10px; 
			 top:-10px;
			display:block; 
			width:150px; 
			background:#fff; 
			position:relative;
			z-index:500; 
			margin:0 1px;
		}
		
		
		#nav li a {
			display:block; 
			padding:8px 5px 0 5px; 
			font-weight:700;  
			height:23px; 
			text-decoration:none; 
			color:#fff; 
			text-align:right; 
			color:#222;
		}

		#nav li a:hover {
			color:#666666;
		}
	
		#nav a.selected {
			color:#666666;
		}
	
		#nav ul {
			position:absolute; 
			left:0; 
			display:none; 
			margin:0 0 0 -1px; 
			padding:0; 
			list-style:none;
		}
		
		#nav ul li {
			width:100px; 
			float:left; 
			left:10px;
		}
		
		#nav ul a {
			display:block;  
			height:2px;
			padding: 8px 5px; 
			color:#666666;
		}
		
		#nav ul a:hover {
			color:#666666;
		}