.appLogo {
    height: 50px;
    margin:0px;
    margin-top: -15px;
    padding-top: 0px;
    padding-bottom: 0px;
}

.appLogo.focus{
    cursor: crosshair;
    height: 250px;
}

.appLogo_x1 {
    font-weight: bolder;
    background-image: url("../images/logoideasX1.png");
    background-position: -325px -110px;
    background-repeat: no-repeat;
    background-color: gray;
    height: 50px;
}

section {
    margin-top: 1em;
    font-size: 120%;
    padding: 20px;
    background: #fff;
}

section h1 {
    font-size: 200%;
}

footer {
    text-align: center;
    margin-top: 10px;
    margin-left: auto;
    margin-right: auto;
}

footer nav {
    float: none;
}


/* Links */
a {
    color: #09c;
    text-decoration: none;
}

a:hover {
    color: #069;
    text-decoration: underline;
}

a:visited {
    color: #069;
}

a.signup_button {
    margin-left: auto;
    margin-right: auto;
    display: block;
    text-align: center;
    width: 190px;
    color: #fff;
    background: #006400;
    font-size: 150%;
    font-weight: bold;
    padding: 20px;
}


/* Navigation */
nav {
    float: right;
}

nav {
    background-color: white;
    padding: 0 0.7em;
    white-space: nowrap;
}

nav ul {
    margin: 0;
    padding: 0;
}

nav ul li {
    list-style-type: none;
    display: inline-block;
    padding: 0.2em 0;
}

nav ul li a {
    padding: 0 5px;
    font-weight: bold;
}

nav ul li a:visited {
    color: #09c;
}

nav ul li a:hover {
    text-decoration: underline;
}


/* Round corners */
.round {
    -moz-border-radius:    10px;
    -webkit-border-radius: 10px;
    border-radius:         10px;
}


/* User show page */
table.profile {
    width: 100%;
    margin-bottom: 0;
}

td.main {
    width: 70%;
    padding: 1em;
}

td.sidebar {
    width: 30%;
    padding: 1em;
    vertical-align: top;
    background: #ffc;
}

div.field, div.actions {
    margin-bottom: 10px;
}



.text-right {
    text-align: right;
}

.dojo-navbar {
    background-color: gray;
    height: 25px;
}

.dojo-navbar.light {
    background-color: lightgray;
}

ul.dojo-menu {
    padding: 0;
    vertical-align: bottom;
}

ul.dojo-menu li {
    margin: 0px;
    padding: 10px;
    display: inline;
    list-style:	none;
    vertical-align: bottom;
}

ul.dojo-menu a {
    padding: 10px;
    padding-top: 0px;
}

ul.dojo-menu a:hover {
    color: #000;
    text-decoration: none;
    background-color: #fff;
    border-radius: 5px 5px 0px 0px;
}

a.selectable {
    color: #fff;
}

a.selected {
    text-decoration: none;
    color: #000;
    background-color: #fff;
    border-radius: 5px 5px 0px 0px;
}

.field_with_errors {  
  display: inline;  
}  
  
.field_with_errors .message {  
  color: #D00;  
  padding-left: 5px;  
  font-size: 12px;  
} 
