.appLogo {
    height: 50px;
    margin:0px;
    margin-top: -15px;
    padding-top: 0px;
    padding-bottom: 0px;
}

.appLogo.focus{
    cursor: crosshair;
    height: 250px;
}

.appLogo_x1 {
    font-weight: bolder;
    background-image: url("../images/logoideasX1.png");
    background-position: -325px -110px;
    background-repeat: no-repeat;
    background-color: gray;
    height: 50px;
}

section {
    margin-top: 1em;
    font-size: 120%;
    padding: 20px;
    background: #fff;
}

section h1 {
    font-size: 200%;
}

footer {
    text-align: center;
    margin-top: 10px;
    margin-left: auto;
    margin-right: auto;
}

footer nav {
    float: none;
}


/* Links */
a {
    color: #09c;
    text-decoration: none;
}

a:hover {
    color: #069;
    text-decoration: underline;
}

a:visited {
    color: #069;
}

a.signup_button {
    margin-left: auto;
    margin-right: auto;
    display: block;
    text-align: center;
    width: 190px;
    color: #fff;
    background: #006400;
    font-size: 150%;
    font-weight: bold;
    padding: 20px;
}

h3{
	margin-left:5px;
	color:#fff;
	width:50%;
	float:left;
}


/* Navigation */
nav {
    float: right;
}

nav {
    background-color: white;
    padding: 0 0.7em;
    white-space: nowrap;
}

nav ul {
    margin: 0;
    padding: 0;
}

nav ul li {
    list-style-type: none;
    display: inline-block;
    padding: 0.2em 0;
}

nav ul li a {
    padding: 0 5px;
    font-weight: bold;
}

nav ul li a:visited {
    color: #09c;
}

nav ul li a:hover {
    text-decoration: underline;
}


/* Round corners */
.round {
    -moz-border-radius:    10px;
    -webkit-border-radius: 10px;
    border-radius:         10px;
}


/* User show page */
table.profile {
    width: 100%;
    margin-bottom: 0;
}

td.main {
    width: 70%;
    padding: 1em;
}

td.sidebar {
    width: 30%;
    padding: 1em;
    vertical-align: top;
    background: #ffc;
}

div.field, div.actions {
    margin-bottom: 10px;
}



.text-right {
    text-align: right;
}

.dojo-navbar {
    background-color: #38a4ff;
    height: 25px;
}

.dojo-navbar.light {
    background-color: lightgray;
}

ul.dojo-menu {
    padding: 10;
    vertical-align: bottom;
}

ul.dojo-menu li {
    margin: 5px;
    padding: 20px;
    display: inline;
    list-style:	none;
    vertical-align: center;
}

ul.dojo-menu a {
    padding: 25px;
    padding-top: 0px;
    font-size: 15px;  
}

ul.dojo-menu a:hover {
    color: #000;
    text-decoration: none;
    background-color: #fff;
    border-radius: 5px 5px 0px 0px;
}

ul.dojo-menu a:selected {
    color: #000;
    text-decoration: none;
    background-color: #fff;
    border-radius: 5px 5px 0px 0px;
}

a.selectable {
    color: #fff;
}

a.selected {
    text-decoration: none;
    color: #000;
    background-color: #fff;
    border-radius: 5px 5px 0px 0px;
}

.field_with_errors {  
  display: inline;  
}  
  
.field_with_errors .message {  
  color: #D00;  
  padding-left: 5px;  
  font-size: 12px;  
} 

.textfield_effect{
	border-width: 1px;
	border-style: solid;
	border-color: #f4f4f4;
	background-image: url("https://a248.e.akamai.net/si.lscdn.net/deals/images/bingy/text-shadow.png");
	background-repeat: repeat-x;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 15px;
	color: #000000;
	width: 250px;
	height: 25px;
}

.textfield_effect:hover{
    border-color: #4ccbda;
    border-width: 1px;
}

.textfield_effect:focus    {
    border-color: #64acd8;
    border-width: 1px;
}

#on_focus_textfield:focus, #on_focus_textarea:focus {
    border:1px solid #64acd8;
    box-shadow:0 0 5px #64acd8;
    -moz-box-shadow:0 0 5px #64acd8;
    -webkit-box-shadow:0 0 5px #64acd8;
}

.textfield_effect_nw_tk {
	border-width: 1px;
	border-style: solid;
	border-color: #999999;
	background-image: url("https://a248.e.akamai.net/si.lscdn.net/deals/images/bingy/text-shadow.png");
	background-repeat: repeat-x;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 20px;
	font-weight:bold;
	color: #333333;
	width: 95%;
	height: 25px;
}

.textfield_effect_nw_tk:hover{
    border-color: #4ccbda;
    border-width: 1px;
}

.textfield_effect_nw_tk:focus{
    border-color: #4ccbda;
    border-width: 1px;
}

.textarea_nw_tk {
	border-width: 1px;
	border-style: solid;
	border-color: #999999;
	background-image: url("https://a248.e.akamai.net/si.lscdn.net/deals/images/bingy/text-shadow.png");
	background-repeat: repeat-x;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 15px;
	color: #333333;
	width: 96%;
	height: 35px;
}

.textarea_nw_tk:hover{
    border-color: #4ccbda;
    border-width: 1px;
}

.textarea_nw_tk:focus{
    border-color: #4ccbda;
    border-width: 1px;
}

.textfield_effect_nw_tk_add {
	border-width: 1px;
	border-style: solid;
	border-color: #999999;
	background-image: url("https://a248.e.akamai.net/si.lscdn.net/deals/images/bingy/text-shadow.png");
	background-repeat: repeat-x;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	color: #000000;
	width: 100%;
	height: 20px;
}

.textfield_effect_nw_tk_add:hover{
    border-color: #4ccbda;
    border-width: 1px;
}

.textfield_effect_nw_tk_add:focus{
    border-color: #4ccbda;
    border-width: 1px;
}

textarea {
	border-width: 1px;
	border-style: solid;
	border-color: #999999;
	background-image: url("https://a248.e.akamai.net/si.lscdn.net/deals/images/bingy/text-shadow.png");
	background-repeat: repeat-x;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	color: #333333;
	width: 240px;
	height: 100px;
}

textarea:hover{
    border-color: #4ccbda;
    border-width: 1px;
}

textarea:focus{
    border-color: #4ccbda;
    border-width: 1px;
}

select {
    -moz-border-radius: 4px;
    -moz-box-shadow: 1px 1px 5px #cfcfcf inset;
    border: 1px solid #cfcfcf;
    vertical-align: middle;
    width: 250px;
	height: 25px;
	color:#f9a943;
}

select:focus{
    border-color: #4ccbda;
    border-width: 1px;
}

select:hover{
    border-color: #4ccbda;
    border-width: 1px;
}

option {
    background-color: #fef5e6;
    border-bottom: 1px solid #ebdac0;
    border-right: 1px solid #d6bb86;
    border-left: 1px solid #d6bb86;
	height: 25px;
}

option:focus{
    border-color: #4ccbda;
    border-width: 1px;
}

option:hover{
    border-color: #4ccbda;
    border-width: 1px;
}

.links {
    background: none repeat scroll 0 0 #f9a943;
    border-radius: 3px 3px 3px 3px;
    color: #FFFFFF;
    display: block;
    font-size: 12px;
    margin: 20px 0;
    padding: 5px;
    text-align: center;
    text-transform: uppercase;
    width: 130px;
}

option:hover {
    cursor: pointer;
}

#dashbord{
	position:relative;
	width:100%;
	float:none;
	margin-top:5%;
}

#ds_performance_tracker{
	position:relative;
	float:left;
	width:67%;
	margin-left:0px;
	margin-top:10px;
}

#ds_my_profile{
	position:relative;
	float:right;
	width:30%;
	margin-top:10px;
	margin-right:0px;
}

#ds_upcoming_task_and_milestone{
	position:relative;
	float:left;
	width:67%;
	margin-top:10px;
	margin-left:0px;
}

#ds_messages{
	position:relative;
	float:right;
	width:30%;	
	margin-top:10px;
	margin-right:0px;
}

#ds_my_chall{
	position:relative;
	float:left;
	width:67%;
	margin-top:10px;
	margin-left:0px;
}

#ds_news_feed{
	position:relative;
	float:right;
	width:30%;
	margin-top:10px;
	margin-right:0px;
}

#ds_top_performer{
	position:relative;
	float:left;
	width:67%;
	margin-top:10px;
	margin-left:0px;
}

#ch_main_div{
	border-width:10px;
  	border-style:solid;
  	border-color:#f4f4f4;
	margin-top:35px;
	-moz-border-radius:    5px;
    -webkit-border-radius: 5px;
    border-radius:         5px;
}


