.appLogo {
	height: 50px;
	margin:0px;
	margin-top: -15px;
	padding-top: 0px;
	padding-bottom: 0px;
}

.appLogo.focus{
	cursor: crosshair;
	height: 250px;
}

.appLogo_x1 {
	font-weight: bolder;
	background-image: url("../images/logoideasX1.png");
	background-position: -325px -110px;
	background-repeat: no-repeat;
	background-color: gray;
	height: 50px;
}

section {
	margin-top: 1em;
	font-size: 120%;
	padding: 20px;
	background: #fff;
}

section h1 {
	font-size: 200%;
}

footer {
	text-align: center;
	margin-top: 10px;
	margin-left: auto;
	margin-right: auto;
}

footer nav {
	float: none;
}


/* Links */
a {
	color: #09c;
	text-decoration: none;
}

a:hover {
	color: #069;
	text-decoration: underline;
}

a:visited {
	color: #069;
}

a.signup_button {
	margin-left: auto;
	margin-right: auto;
	display: block;
	text-align: center;
	width: 190px;
	color: #fff;
	background: #006400;
	font-size: 150%;
	font-weight: bold;
	padding: 20px;
}

h3{
	margin-left:5px;
	color:#fff;
	width:50%;
	float:left;
}


/* Navigation */
nav {
	float: right;
}

nav {
	background-color: white;
	padding: 0 0.7em;
	white-space: nowrap;
}

nav ul {
	margin: 0;
	padding: 0;
}

nav ul li {
	list-style-type: none;
	display: inline-block;
	padding: 0.2em 0;
}

nav ul li a {
	padding: 0 5px;
	font-weight: bold;
}

nav ul li a:visited {
	color: #09c;
}

nav ul li a:hover {
	text-decoration: underline;
}

ul.homenavbar {
	display: table;
	width: 100%;
	padding: 0px;
}

ul.homenavbar li {
	display: table-cell;
}

ul.homenavbar > li > a {
	display: block;
	text-align: center;
	color: #FFFFFF;
	font-family: arial;
	font-size: 13px;
	text-decoration: none;
	height: 2em;
	background-image: url(main_nav_bg_up.png);
	background-repeat: repeat-x;
	background-position: center bottom;		
}                  

ul.homenavbar  > li > a:hover {                     
	text-decoration: underline;
	background-image: url(main_nav_bg_point_up.png),  url(main_nav_bg_mo.png);
	background-repeat: no-repeat, repeat-x;
	background-position: fixed, top right; 
} 

ul.homenavbar > li.selected > a {                     
	background-image: url(main_nav_bg_point_mo.png),  url(main_nav_bg_up.png);
	background-repeat: no-repeat, repeat-x;
	background-position: fixed, top right; 
}

.challengeSubNav {
	background-color: #F0F0F0;
}	

.font12bold {
	font-size: 12px; 
	font-weight:bold;
}   

.gray {
	color: gray;
}

.new_challenge_button {
	background: #f8981d url("btn_add_up.png") no-repeat left center;	
	text-align: right;
	min-width: 65px;
	font-size: 12px; 
	color: #FFF;
	font-family: arial;
}

/* User show page */
table.profile {
	width: 100%;
	margin-bottom: 0;
}

td.main {
	width: 70%;
	padding: 1em;
}

td.sidebar {
	width: 30%;
	padding: 1em;
	vertical-align: top;
	background: #ffc;
}

div.field, div.actions {
	margin-bottom: 10px;
}

.text-right {
	text-align: right;
}

.dojo-navbar {
	background-color: #f8981d;
	height: 30px;
}

.dojo-navbar.light {
	background-color: lightgray;
}

ul.dojo-menu {
	padding: auto;
	vertical-align: bottom;
}

ul.dojo-menu li {
	margin: 6px;
	padding:auto;
	display: inline;
	list-style:	none;
	vertical-align: center;
}

ul.dojo-menu a {
	padding: 25px;
	font-size: 10px;
}

ul.dojo-menu a:hover {
	color: #fff;
	text-decoration: none;
	background-color: #f8981d;
	padding: 0px;
	background-image: url("main_nav_bg_up.png"); 
	background: url(main_nav_bg_up.png) repeat center top ;


}

ul.dojo-menu a:selected {
	color: #000;
	text-decoration: none;
	background-color: #fff;
	border-radius: 0px 0px 0px 0px;
}

.dojo-menu ul li .selectable {
	color: #fff;
}




.navbar {
	background: #f8981d;
	margin: 0 auto;
	width: 934px;
	display: block;
	float: left;


}

nav .menu {
	font-size: 13px;
	font-weight: bold;
	margin-left: 16px;
	font-family:"arial";
	font-color: #FFFFFF;
}
nav .menu li li {
	font-size: 12px;
	font-weight: bold;
	margin-left: 0px;
}
nav .menu ul {
	list-style: none;
	margin: 0;
}

nav .menu li {
	float: left;
	position: relative;
}

nav .menu #check {
	display: block;
	text-decoration: none;
	color: #F5F5DC;
	padding: 0 25px;
	line-height: 38px;
}

nav .menu #check :hover {
	color: #F7E908;
	background-color :#F9AD4A;
	background:#F9AD4A url("main_nav_bg_point_up.png") no-repeat center bottom ;

}

.fb-login-button {
	background:#f8981d url("btn_add_up.png") no-repeat left center ;	
}

.new_button1 {
	background: url("loginbutton.png") no-repeat left center ; 
	width: 68px;
	height: 24px;
	color: #FFFFFF;
}
.new_button :hover{
	color: #FFFFFF;
}



a .selected {
	text-decoration: none;
	color: #000;
	background-color: #fff;
	border-radius: 5px 5px 0px 0px;
}

.field_with_errors {  
	display: inline;  
}  

.field_with_errors .message {  
	color: #D00;  
	padding-left: 5px;  
	font-size: 12px;  
} 

.textfield_effect{
	border-width: 1px;
	border-style: solid;
	border-color: #f4f4f4;
	background-image: url("text-shadow.png");
	background-repeat: repeat-x;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 15px;
	color: #000000;
	width: 250px;
	height: 25px;
}

.textfield_effect:hover{
	border-color: #4ccbda;
	border-width: 1px;
}

.textfield_effect:focus    {
	border-color: #64acd8;
	border-width: 1px;
}

#on_focus_textfield:focus, #on_focus_textarea:focus {
	border:1px solid #64acd8;
	box-shadow:0 0 5px #64acd8;
	-moz-box-shadow:0 0 5px #64acd8;
	-webkit-box-shadow:0 0 5px #64acd8;
}

.textfield_effect_nw_tk {
	border-width: 1px;
	border-style: solid;
	border-color: #999999;
	background-image: url("text-shadow.png");
	background-repeat: repeat-x;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	color: #333333;
	width: 87%;
	height: 25px;
}

.textfield_effect_nw_tk:hover{
	border-color: #4ccbda;
	border-width: 1px;
}

.textfield_effect_nw_tk:focus{
	border-color: #4ccbda;
	border-width: 1px;
}

.textarea_nw_tk {
	border-width: 1px;
	border-style: solid;
	border-color: #999999;
	background-image: url("text-shadow.png");
	background-repeat: repeat-x;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 15px;
	color: #333333;
	width: 96%;
	height: 25px;
	max-width:300px;
	min-width:96%;
}

.textarea_nw_tk:hover{
	border-color: #4ccbda;
	border-width: 1px;
}

.textarea_nw_tk:focus{
	border-color: #4ccbda;
	border-width: 1px;
}

.textfield_effect_nw_tk_add {
	border-width: 1px;
	border-style: solid;
	border-color: #999999;
	background-image: url("text-shadow.png");
	background-repeat: repeat-x;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	color: #000000;
	width: 100%;
	height: 20px;
}

.textfield_effect_nw_tk_title {
	border-width: 1px;
	border-style: solid;
	border-color: #999999;
	background-image: url("text-shadow.png");
	background-repeat: repeat-x;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 20px;
	font-weight:bold;
	color: #000000;
	width: 97.5%;
	height: 25px;
}

.textfield_effect_nw_tk_title:hover{
	border-color: #4ccbda;
	border-width: 1px;
}

.textfield_effect_nw_tk_add:hover{
	border-color: #4ccbda;
	border-width: 1px;
}

.textfield_effect_nw_tk_add:focus{
	border-color: #4ccbda;
	border-width: 1px;
}

textarea {
	border-width: 1px;
	border-style: solid;
	border-color: #999999;
	background-image: url("text-shadow.png");
	background-repeat: repeat-x;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	color: #333333;
	width: 240px;
	height: 100px;
}

textarea:hover{
	border-color: #4ccbda;
	border-width: 1px;
}

textarea:focus{

	border-color: #4ccbda;
	border-width: 1px;
}

select {
	-moz-border-radius: 4px;
	-moz-box-shadow: 1px 1px 5px #cfcfcf inset;
	border: 1px solid #cfcfcf;
	vertical-align: middle;
	width: 250px;
	height: 25px;
	color:#f9a943;
}

select:focus{
	border-color: #4ccbda;
	border-width: 1px;
}

select:hover{
	border-color: #4ccbda;
	border-width: 1px;
}

option {
	background-color: #fef5e6;
	border-bottom: 1px solid #ebdac0;
	border-right: 1px solid #d6bb86;
	border-left: 1px solid #d6bb86;
	height: 25px;
}

option:focus{
	border-color: #4ccbda;
	border-width: 1px;
}

option:hover{
	border-color: #4ccbda;
	border-width: 1px;
}

input.radio {
	color:#00f;
	background-color:#ddd;
	width:4em;
	height:4em;
}

.links {
	background: none repeat scroll 0 0 #f9a943;
	border-radius: 3px 3px 3px 3px;
	color: #FFFFFF;
	display: block;
	font-size: 12px;
	margin: 20px 0;
	padding: 5px;
	text-align: center;
	text-transform: uppercase;
	width: 130px;
}

.links_invite_p {
	background: none repeat scroll 0 0 #f9a943;
	border-radius: 3px 3px 3px 3px;
	color: #FFFFFF;
	display: block;
	font-size: 12px;
	margin: 20px 0;
	padding: 5px;
	text-align: center;
	text-transform: uppercase;
	width: 195px;
}

.links_cancel {
	background: none repeat scroll 0 0 #999999;
	border-radius: 3px 3px 3px 3px;
	text-color:white;
	display: block;
	font-size: 12px;
	margin: 20px 0;
	padding: 5px;
	text-align: center;
	text-transform: uppercase;
	width: 100px;
}

.task_links_cancel {
	background: none repeat scroll 0 0 #f9a943;
	border-radius: 3px 3px 3px 3px;
	text-color:white;
	display: block;
	font-size: 12px;
	margin: 20px 0;
	padding: 5px;
	text-align: center;
	text-transform: uppercase;
	width: 100px;
}

.challenge_mark_as_c{
	background: none repeat scroll 0 0 #999999;
	border-radius: 3px 3px 3px 3px;
	text-color:white;
	display: block;
	font-size: 12px;
	margin: 20px 0;
	padding: 5px;
	text-align: center;
	text-transform: uppercase;
	width: 175px;
}


option:hover {
	cursor: pointer;
}

#dashbord{
	position:relative;
	width:100%;
	float:none;
	margin-top:5%;
}

#ds_performance_tracker{
	position:relative;
	float:left;
	width:67%;
	margin-left:0px;
	margin-top:10px;
}

#ds_my_profile{
	position:relative;
	float:right;
	width:30%;
	margin-top:10px;
	margin-right:0px;
}

#ds_upcoming_task_and_milestone{
	position:relative;
	float:left;
	width:67%;
	margin-top:10px;
	margin-left:0px;
}

#ds_messages{
	position:relative;
	float:right;
	width:30%;	
	margin-top:10px;
	margin-right:0px;
}

#ds_my_chall{
	position:relative;
	float:left;
	width:67%;
	margin-top:10px;
	margin-left:0px;
}

#ds_news_feed{
	position:relative;
	float:right;
	width:30%;
	margin-top:10px;
	margin-right:0px;
}

#ds_top_performer{
	position:relative;
	float:left;
	width:67%;
	margin-top:10px;
	margin-left:0px;
}

h2{
	color: #f8981d;
	font-size: 20px;
}

#ch_main_div{
	border-width:10px;
	border-style:solid;
	border-color:#f4f4f4;
	margin-top:35px;
	-moz-border-radius:    5px;
	-webkit-border-radius: 5px;
	border-radius:         5px;
}

#ch_main_div1{
	border-width:60px;
	border-style:solid;
	border-color:#ffffff;
	margin-top:35px;
	-moz-border-radius:    5px;
	-webkit-border-radius: 5px;
	border-radius:         5px;
}

/* tooltip styling 
.tooltip {
display:none;
-moz-user-select: none;
border:solid 2px #f9a943;
background: repeat scroll 0 0 rgba(47, 47, 47, 0.7);
-ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr=#202020, endColorstr=#202020)";
background: -webkit-gradient(linear, left top, left bottom, from(#202020), to(#202020));
background-repeat:no-repeat;
width: auto;
overflow: hidden;
position: fixed;
padding:5px 5px 5px 5px;
font-size:11px;
color:#fff;
opacity: 0.95;
}
*/
#tooltip {
	background-image: url("FDFDG.gif");
	background-repeat:no-repeat;
	width:100px;
	height:22px;
	padding:5px;
	font-size:11px;
}


/*edit personal challenge*/
.challange{
	text-transform: uppercase;
	color: #f8981d;
	font-size:20px;

}

/* tab bar edit challange*/


ul.tabs1 {
	margin: 0;
	padding: 0;
	float: left;
	list-style: none;
	height: 32px; /*--Set height of tabs--*/
	border-bottom:solid #F0F0F0;
	border-left: 1px solid #999;
	border-top:solid #F0F0F0;
	width: 100%;
	background:	#F0F0F0;
	font-size:11px;
}
ul.tabs {
	margin: 0;
	padding: 0;
	float: left;
	list-style: none;
	height: 32px; /*--Set height of tabs--*/
	border-bottom:solid #F0F0F0;
	border-left: 1px solid #999;
	border-top:solid #F0F0F0;
	width: 90%;
	background:	#F0F0F0;
	font-size:11px;
}
ul.tabs li {
	float: left;
	margin: 0;
	padding: 0;
	height: 31px; /*--Subtract 1px from the height of the unordered list--*/
	line-height: 31px; /*--Vertically aligns the text within the tab--*/
	border: 1px solid #999;
	border-left: none;
	margin-bottom: -1px; /*--Pull the list item down 1px--*/
	overflow: hidden;
	position: relative;
	background: #e0e0e0;
}
ul.tabs li a {
	text-decoration: none;
	color: #f8981d;
	display: block;
	font-size: 1.2em;
	padding: 0 20px;
	border: 1px solid #fff; /*--Gives the bevel look with a 1px white border inside the list item--*/
	outline: none;
}
ul.tabs li a:hover {
	background: #fef4e8;
}
html ul.tabs li.active, html ul.tabs li.active a:hover  { /*--Makes sure that the active tab does not listen to the hover properties--*/
	background: #ffffff;

	color: #f8981d; /*--Makes the active tab look like it's connected with its content--*/
}

.tab_container1 {

	overflow: hidden;
	clear: both;
	float: left; width: 100%;
	background: #fff;
}
.tab_container {

	overflow: hidden;
	clear: both;
	float: left; width: 90%;
	background: #fff;
}
.tab_content {
	padding: 0px;
	/*font-size: 1.2em;*/
}

.ch_main_div {
	border-color: #F4F4F4;
	border-radius: 5px 5px 5px 5px;
	border-style: solid;
	border-width: 10px;
	margin-top: 35px;
}

.sample{
	width: 100%;
	background:	#F0F0F0;
}


.ip-input{
	float:right
	margin: 0px;
}

.accept_request{
	background-image: url("accepted.png"); 
	width: 95px;
	height: 30px;
}
.decline_request{
	background-image: url("declane.png"); 
	width: 87px;
	height: 30px;
	background-repeat: no-repeat;
}
.think_request{
	background-image: url("thinkbutton.png") ;
	background-repeat: no-repeat;
	width: 150px;
	height: 30px; 
}

#mychallenge_boarder{
	-moz-border-radius: 5px 5px 0px 0px;
	border: 1px solid #bebebe;
	width:100%;
}

#mychallenge{
	position:relative;
	width:100%;
	-moz-border-radius: 5px;
	-moz-border-radius: 5px 5px 0px 0px;
	background-color:#bebebe;
	height:20px;
}

#mychallenge_hr{
	height:2px;
}

#mychallenge_name{
	background-color:#bebebe;
	height:20px;
	width:100%;
}

#mychallenge_cont{
	margin-left:20px;	
}
.logo_globalheader{
	float:left;
	width: 300px;
}
.popup_globalheader{
	float:right;
	width: 100px;
}

/*dash borad css*/

.mychallenge
{
	float:left;
	height:500px;
	width:635px;
	border: 2px solid #BEBEBE;
	-webkit-border-radius: 6px;
	-moz-border-radius: 6px;
	border-radius: 6px; 
}
#titlechallenge
{
	width:635px;
	border: 1px solid #BEBEBE;
	background:#BEBEBE;
	height:30px;
	-moz-border-radius-topleft: 5px;
	-moz-border-radius-topright: 5px;
	-moz-border-radius-bottomright: 0px;
	-moz-border-radius-bottomleft: 0px;
	-webkit-border-radius: 5px 5px 0px 0px;
	border-radius: 5px 5px 0px 0px; 
}
#subbar
{
	background:#D7D7D7;
	height:25px;
	width:635px;
}
#name
{
	position:relative;
	float:left;
	left:-30px;
}
#score
{
	position:relative;
	float:left;
	left:400px;
}
#challengedetails
{
	width:635px;
	height:343px;
	background:#fff;
	-moz-border-radius-topleft: 0px;
	-moz-border-radius-topright: 0px;
	-moz-border-radius-bottomright: 5px;
	-moz-border-radius-bottomleft: 5px;
	-webkit-border-radius: 0px 0px 5px 5px;
	border-radius: 0px 0px 5px 5px; 
}

.mychallenge1
{
	position:absolute;
	top:670px;
	float:left;
	height:500px;
	width:635px;
	border: 2px solid #BEBEBE;
	-webkit-border-radius: 6px;
	-moz-border-radius: 6px;
	border-radius: 6px; 
	margin-left:10px;
}
#titlechallenge1
{
	width:635px;
	border: 1px solid #BEBEBE;
	background:#BEBEBE;
	height:30px;
	-moz-border-radius-topleft: 5px;
	-moz-border-radius-topright: 5px;
	-moz-border-radius-bottomright: 0px;
	-moz-border-radius-bottomleft: 0px;
	-webkit-border-radius: 5px 5px 0px 0px;
	border-radius: 5px 5px 0px 0px; 
}
#subbar1
{
	background:#D7D7D7;
	height:25px;
	width:635px;
}
#name1
{
	position:relative;
	float:left;
	left:10px;
	top:5px;
}
#score1
{
	position:relative;
	float:left;
	left:500px;
	top:5px;
}
#challengedetails1
{
	width:635px;
	height:343px;
	background:#fff;
	-moz-border-radius-topleft: 0px;
	-moz-border-radius-topright: 0px;
	-moz-border-radius-bottomright: 5px;
	-moz-border-radius-bottomleft: 5px;
	-webkit-border-radius: 0px 0px 5px 5px;
	border-radius: 0px 0px 5px 5px; 
}
.second_titlechallenge1
{
	position:relative;
	float:left;
	left:530px;
	top:-10px
}

#content1
{
	float:left;
	postion:absolute;
	padding-left:20px;
	width:180px;

}
#content2
{
	float:left;
	postion:absolute;
	padding-left:10px;
	width:400px;
}
#check1
{
	height:50px;
	width:410px;
	background:#000000;

}
#check
{
	color:#7AC142;
	top:17px;
	font-size:15px;
	font-style:bold;
	position:relative;
}
.taskcontent
{
}
.update
{
	position:relative;

	float:left;
	left:330px;
	top:10px;
}
.second_titlechallenge
{
	position:relative;
	float:left;
	left:530px;
	top:-10px
}
.dashboardsidebar1{
	float: left;
	width: 645px;
	position:absolute;
	margin-right:10px;
	margin-left:10px;
}
.dashboardsidebar2 {
	position:absolute;
	float:left;
	margin-left:660px;
	margin-top:30px;
	width:280px;
	height:auto;
	border: 2px solid #BEBEBE;
	-webkit-border-radius: 6px;
	-moz-border-radius: 6px;
	border-radius: 6px; 
}
.whatsnew
{
	width:280px;
	border: 1px solid #BEBEBE;
	background:#BEBEBE;
	height:30px;
	-moz-border-radius-topleft: 5px;
	-moz-border-radius-topright: 5px;
	-moz-border-radius-bottomright: 0px;
	-moz-border-radius-bottomleft: 0px;
	-webkit-border-radius: 5px 5px 0px 0px;
	border-radius: 5px 5px 0px 0px; 
}
#viewall
{
	position:relative;
	float:left;
	left:200px;
	width:70px;
	height:20px;
	border:1px solid #ffffff;
	background:#F8981D;
	color:#ffffff;
	top:3px;
}
#contentbox
{
	width:260px;
	margin-top:10px;
	margin-bottom:10px;
	margin-left:10px;
	margin-right:10px;
	height:200px;
	background:#F4F4F4;

}

.hidden {
	display: none;
}

.logout {
	display:none; 
	width:80px; 
	background:#f00; 
	left:830px;
	top:52px;
	position:absolute; 
	border:1px solid black;	
}
.completedtask
{
color:#fff;
left:60px;
position:relative;
}
.remainedtask
{

color:#Ffffff;

}

.notcompleted
{
float:left;
left:3px;
position:relative;
color:#fff;
}

