.newmessagescount{
	color:#FFFFFF;
	margin-left:5px;
}
.title_messages_header{
	margin-left: 16px; 
	position: relative; 
	top: 5px;"
}
.messages_box_details{
	overflow-y: auto; 
	overflow-x: hidden;
}
.messages_disply{
	display:none;
}
.new_messages_table{
	width:100%; 
	background:#f4f4f4;
}
.bgcolor_messages_tr{
	background:#FFFFFF;
}
#messageBox{
     font-size: 25px;
     font-weight: bold;
}

.new_message_button_index {
  background: #F8981D url("newbutton.PNG") no-repeat left center;  
  text-align: right;
  min-width: 70px;
  height:25px;
  top:1px;
  position:relative;
  float:left;
  left:0px;
  font-family: arial;
}

.links_cancel_message {
    background: none repeat #999999;
    color: #FFFFFF;
    float: right;
    height: 24px;
    margin: 15px 0;
    padding: 2px;
    position: relative;
    text-align: center;
    text-transform: uppercase;
    top: 15%;
    width: 18%;
    font-size: 13px;
}

.linksNewMessage {
	background: none repeat scroll 0 0 #f9a943;
	border-style:none;
	color: #FFFFFF;
	display: block;
	font-size: 12px;
	margin: 20px 0;
	padding: 5px;
	float:right;
	text-align: center;
	text-transform: uppercase;
	width: 80px;
	margin-right:10px;
	position: relative;
	top: -5px;
}

#messageText{
    font-size: 15px;
    color: #dddddd;
    font-weight: bold;
}

#messageTextHead{
    font-size: 18px;
    color: #dddddd;
    font-weight: bold;    
}

.bordercolort
{    
    border-bottom:1px solid #BEBEBE;
    padding-left:15px;
    margin: 3px 5px 5px 5px;
}

.bordercolortR
{    
    border-bottom:1px solid #BEBEBE;
    padding-left:15px;
    margin: 3px 5px 5px 5px;
    background-color: #ffffff;
}

.bordercolortM
{    
    border-bottom:1px solid #BEBEBE;
    padding-left:15px;
    margin: 3px 5px 5px 5px;
    cursor: pointer;
}

.reply{
    cursor: pointer;
}

.initial{
    cursor: pointer;
}

.bordercolort1
{
    height:5px;
    border-bottom:1px solid #BEBEBE;    
}

.bordercolortMDetails{
    height:5px;
    border-bottom:2px solid #BEBEBE;
    padding-left:15px;
}

.serachBox{    
    color: #C6C6C6;
    width: 100%;
    height: 40px;
}

#readMessage{
    background-color: red;
}

#unreadMessage{
    background-color: green;
}

#fdPicture{
    margin-top: -10px;
}

.iMessageNew {
  background: #F8981D url("new1.PNG") no-repeat left center;  
  text-align: right;
  min-width: 70px;
  height:25px;
  top:0px;
  position:relative;
  float:left;
  left:0px;
  font-family: arial;
}

.iMessageNewLinks{
    color: gray;
    color: gray;
    font-family: arial;
    font-size: 12px;
    font-weight: bold;
    left: 0px;
    position: relative;
    top: 5px;
}

#msgBody{
    background-color: #F4F4F4;
    width: 100%;
}

#msgBodyTable{
    margin: 15px 10px 10px 10px;
    width: 98%;
}

#msgBodyTableAll{
    margin: 1px 10px 10px 10px;
    width: 98%;
}

#countMessage{
    font-weight: bold;
    font-size: 15px;
    color:#666666; 
}

#msgOrangeColorTest{
    color: #f8981d;
    font-size: 22px;
}

#msgOrangeColorTestI{
    color: #f8981d;
    font-size: 15px;
    font-weight: bold;
}

#msgOrangeColorTestC{
    color: #7AC142;
    font-size: 15px;
    font-weight: bold;
}

#editIcone{
    float: right;
    position: relative;
    right: 0px;
}

#textcolor{
    color: #A5A5A5;
    font-size: 14px;
    font-weight: bold;   
}

#textcolorToMe{
    color: #A5A5A5;
    font-size: 16px;
    font-weight: bold;   
}

.textareaMessage{
	border-width: 1px;
	border-style: solid;
	border-color: #999999;
	
	background-repeat: repeat-x;
	font-family: Arial;
	font-size: 15px;
	color: #333333;
	resize: none;
	height: 50px;	
	width:96%;
}

.textareaMessageI{
	border-width: 1px;
	border-style: solid;
	border-color: #999999;	
        background-color: #F4F4F4;
	background-repeat: repeat-x;
	font-family: Arial;
	font-size: 15px;
	color: #333333;
	resize: none;
	height: 50px;	
	width:98%;
}

.tooltip {
    background: url("black_arrow.png") no-repeat scroll 0 0 transparent;
    color: #FFFFFF;
    display: none;
    font-size: 12px;
    height: 65px;
    margin-left: 15px;
    margin-top: 30px;
    padding: 15px;
    width: 110px;
}
