.divone{
	vertical-align:top;
}
/*.messagereg
{
	width:550px;
	height:130px;
	background:#F9F7F7;
	color:#000;
	border:1px solid #DCDCDC;
	margin-top:10px;
}*/
.reg
{
float: left;
    left: 230px;
    position: relative;
    top: -35px;
}
.colordarkblk
{
	color: #666666;
	font-weight: bold;
}
.seetutorial
{
 float: left;
    left: 50px;
    position: relative;
    top: -32px;
}
.facebooklike
{
 background: none repeat scroll 0 0 #FFFFFF;
    color:#486197;
    float: left;
    height: 50px;
    left: 20px;
    position: relative;
    top: 5px;
    
}
.dojitstuimage
{
position:relative;
top:5px;
width:45px;
height:45px;
background:#fff;
border:1px solid #000;
float:left;
left:10px;
}
.dojitstuimage
{
position:relative;
top:5px;
width:45px;
height:45px;
background:#fff;
border:1px solid #000;
float:left;
left:10px;
}
.messagereg
{
	width:550px;
	height:130px;
	background:#F9F7F7;
	color:#000;
	border:1px solid #DCDCDC;
	margin-top:10px;
}
