.divone{
	vertical-align:top;
}
.reg
{
	float: left;
    left: 230px;
    position: relative;
    top: -38px;
}
.seetutorial
{
    float: left;
    left: 50px;
    position: relative;
    top: -35px;
}
.facebooklike
{
 background: none repeat scroll 0 0 #FFFFFF;
    color:#486197;
    float: left;
    height: 50px;
    left: 20px;
    position: relative;
    top: 5px;
    
}
.dojitstuimage
{
position:relative;
top:5px;
width:45px;
height:45px;
background:#fff;
border:1px solid #000;
float:left;
left:10px;
}
.dojitstuimage
{
position:relative;
top:5px;
width:45px;
height:45px;
background:#fff;
border:1px solid #000;
float:left;
left:10px;
}
.messagereg
{
	width:568px;
	height:140px;
	background:#F9F7F7;
	color:#000;
	border:1px solid #DCDCDC;
	margin-top:10px;
}
.sectionone{
		background: #FFFFFF;
}
.sectiontwo
{
		background: #FFFFFF;
		vertical-align:top;
		padding-top:12px;
}
.newtag
{
	margin-left: -2px;
    margin-top: -1px;
}
.titlecolor
{
	color: #AAA9A9;
    font-size: 190%;
}
.tablemargin
{
	margin-top: -10px;
}
.tdpaddingleft
{
	color: #666666;
    font-family: arial;
    padding-left: 10px;
}
.chaltitlecolor
{
	font-family: arial;
	font-weight: bold;
	font-size: 15px;
	color: #666666;
}
.createdtime
{
	float:right; 
	margin-right:14px; 
	color: #A9A8A8;
}
.textranform{
	text-transform:none;
	color: #666666;
}
.positionforimage{
	position: relative;
	top: 4px;
}
.dourbest
{
	top: 5px;
	position:relative;
}
.register:hover{
	cursor:pointer;
}.cancel:hover{
	cursor:pointer;
}
.dourbest1 {
    position: relative;
    top: 4px;
}
.LikeboxPluginPagelet{
background: red;
}
 #check5 
 {
	color: #7AC142;
	font-size: 15px;
	font-weight:bold;
	position: relative;
	top: 27px;
	left:10px;
}
 #check6 
 {
	color: #fff;
	font-size: 15px;
	position: relative;
	top: 40px;
	left:10px;
	font-weight:bold;
}
.acceptimage
{
		position:relative;
		left:760px;
		top:15px;
}
.fbname
{
	color: #666666;
    font-family: arial;
	font-size: 12px;
	font-weight: bold;
}
.bottomunderline{
	 border-bottom: 1px solid #BEBEBE;
}

.fb_iframe_widget{
	overflow: hidden;
}
.fb_ltr{
	margin-left:-10px;
	margin-right:-5px;
	margin-top:-10px;
	margin-bottom: -25px;
}
.registertomessage{
	width:500px;
	height:150px;
	background:#f4f4f4;
	padding-top:10px;
	padding-left:10px;
	padding-right:10px;
}
.nonlogintaskstable{
	width:100%;
	border:1px;
}
