#pStatusAll{
    background-color: #F4F4F4;
    padding: 8px 8px 8px 8px;
    width: 85%;
    height:auto;
}

#navAjax{
    height:35px;;
    width:120%;
}

#navAjaxHidden{
    background-color:#f4f4f4;
    height:35px;;
    width:100%;
}

#pStatusMy{
    background-color: #F4F4F4;
    padding: 8px 8px 8px 8px;
    width: 95%;
}

IMG {
    position: relative;
    top:5px;
}    

UL.tabNavigation {
    list-style: none;
    margin: 0;
    padding: 0;         
}

UL.tabNavigation LI {
    display: inline;     
}

UL.tabNavigation LI A {
    padding: 3px 5px;
    background-color: #B4B4B4;
    color: #000;
    text-decoration: none;
    font-weight: bold;           
}

UL.tabNavigation LI A:hover {
    background-color: #F4F4F4;
    color: #000;
    padding-top: 7px;
    font-weight: bold;
}

UL.tabNavigation LI A:focus{
    background-color: #F4F4F4;
    color: #000;
    padding-top: 7px;
    font-weight: bold;
}

UL.tabNavigation LI A:focus {
    outline: 0;
}

div.tabs > div {
    padding: 5px;
    margin-top: 3px;
    border: 5px solid #F4F4F4;
}

div.tabs > div h2 {
    margin-top: 0;
}

#first,#second,#third,#fourth {
    background-color: #FFF;
}

#nameColor{
    color: #6883AF; 
    font-size: 15px;
    font-weight: bold;
    background:#ffffff;
}

#peopleinchallenge{
    color:#F3A840;      
    font-size:16px;
    font-weight: bold;
}

#changeChallegne{
    color:#000000;
    font-weight:bold;
    font-size:14px;
}

#floatRight{
    float: left;
    left: -40px;
    position: relative;
    top: 10px;
}

thead th{
    background-color: #FFFFFF;
}

#myTable1{
   top: -95px;
position: relative;
}
#showonly_text
{
    font-size: 11px;
    font-weight: bolder;
}
#people_text
{
    top: 5px;
    position: relative;
    font-size: 14px;
}