#textFieldEffect{
	background: none repeat scroll 0 0 #CFCFCF;
    border-color: #A5A5A5;
    border-style: solid;
    border-width: 1px;
    color: #C6C6C6;
    font-family: Arial;
    font-size: 15px;
    height: 25px;
    width: 470px;
    background: #F4F4F4;
}

.reg
{
	float: left;
    left: 230px;
    position: relative;
    top: -35px;
}
.seetutorial
{
 	float: left;
    left: 50px;
    position: relative;
    top: -32px;
}


.facebooklike
{
 	background: none repeat scroll 0 0 #FFFFFF;
    color:#486197;
    float: left;
    height: 50px;
    left: 20px;
    position: relative;
    top: 5px;
    width: 180px;
}
.dojitstuimage
{
position:relative;
top:5px;
width:45px;
height:45px;
background:#fff;
border:1px solid #000;
float:left;
left:10px;
}
.liked
{
position:absolute;
top:75px;
width:335px;
height:70px;
background:#fff;
float:left;
left:10px;
  border: 1px solid #000000;
}
.regdojitsu
{

top: 110%;
float:left;
left:64%;
position:absolute;
background:#ffffff;

width:355px;
height:340px;
}
.regdojitsu
{

top: 110%;
float:left;
left:64%;
position:absolute;
background:#ffffff;

width:355px;
height:340px;
}


.viewall
{
padding-top:2px;
float:left;
left:480px;
bottom:37px;
position:relative;
width:70px;
height:22px;
background:#F8981D;
color:#fff;
}
.messagereg
{

width:550px;
height:110px;
background:#F9F7F7;
color:#000;
border:1px solid #000;

}
.regmessage
{
position:relative;
float:left;
left:10px;
margin-top:20px;
}
.registration
{
margin-top:10px;
border:7px solid #DDDDDD;
width:940px;
height:390px;
}

.reglable
{
color:#636363;

}
.reginput
{

height:25px;
width:470px;
background:#FCF9F9;
border:1px solid #636363;
}
.buttons
{
float:left;
left:490px;
position:relative;
}
.register {
	background: #F8981D; 
	width: 82px;
	height: 22px;
	color:#ffffff;

}
.cancel{
	background: #A5A5A5; 
	width: 62px;
	height: 22px;
	color:#ffffff;
}

.regdetails
{
width:640px;
height:370px;
float:left;
left:150px;
top:20px;
position:relative;
}
.reglable
{
color:#636363;

}
.reginput
{

height:25px;
width:470px;
background:#FCF9F9;
border:1px solid #636363;
}
.buttons
{
float:left;
left:490px;
margin-top:7px;
position:relative;
}
.register {
	background: #F8981D; 
	width: 82px;
	height: 22px;
	color:#ffffff;
}
label{
color:#CFCFCF;
}

.fb-like-box{
	top:-40%;
}
.registertitle{
	color: #F8981D; 
	font-size: 17px;
	font-weight: bold;
	margin-bottom:20px;
}
.whatnewfont{
	color: #AAA9A9; 
	font-size: 19px;
	font-weight: bold;
}
.chatitle{
	font-family: arial;
	font-weight: bold;
	font-size: 15px;
	color: #666666;
}
.dourbest{
	top:2px;
	position:relative;
}
label{
color:#CFCFCF;
}
#textFieldEffect{

    background: none repeat scroll 0 0 #CFCFCF;
    border-color: #A5A5A5;
    border-style: solid;
    border-width: 1px;
    color: #C6C6C6;
    font-family: Arial;
    font-size: 15px;
    height: 25px;
    width: 470px;
   background: #F4F4F4;
}
.imagenew{
	margin-top:0px;
	margin-left:-2px;
}
.margin{
	margin-top:-10px;
}
.margin2
{
	margin-top: 10px;
	color: #666666;
	padding-left: 10px;
}
.createdat{
float:right;
margin-right:14px; 
color: #A9A8A8;
}
.descriptionstyle{
		text-transform:none;
		color: #666666;
		padding-left: 29px;
}
.btnquestionupimge{
	position: relative;
	top: 4px;
}
#align
{	
	box-align: center;
}
.fbname
{
	color: #666666;
    font-family: arial;
	font-size: 12px;
	font-weight: bold;
}