.tasks_color
{
    font-size:16px;
    font-weight:bold;
    color:#7AC142;
}
#table_align
{
    margin-bottom: 0.1em;
    width: 100%;
    margin-top: -6px;
}

#taskpercentages{
    font-size:18px;
    font-weight:bold;
    color:#7AC142;
}

#search{
    border: 1px solid #BEBEBE;
    height: 28px;
    width: 150px;
}

.styled-select {
    background: url("icon_combobox_arrow_down.png") no-repeat scroll 180px 50% white;
    border: 1px solid #e9e9e9;
    height: 32px;
    overflow: hidden;
    width: 100px;
}

#sTable{
    background-color: #F4F4F4;
    color: #B4B4B4;
}

#sspercentage_personal {
    color: #7AC142;
    font-weight: bold;
    margin: -33px -8px 0;
}
#flt0_myTable1
{
    left: 41%;
    position: relative;
    height: 25px;
    width: 30%;
}
#image_section_search{
    top: -58px;
    position: relative;
    z-index: 5;
    left: 93%;
    width: 30px;
    overflow: hidden;
}
#no_of_participants{
    top: -25px;
    position: relative;
    z-index: 5;
    color: #999;
    font-weight: bold;
    left: 10px;
    width: 30%;
}
