ul.tabs {
	margin: 0;
	padding: 0;
	float: left;
	list-style: none;
	height: 32px; /*--Set height of tabs--*/
	border-bottom: 1px solid #999;
	border-left: 1px solid #999;
	width: 82%;
	background :#f4f4f4;
}

.topbar {
	position:relative;
	background:#f4f4f4;
	width:100%;
	height:40px;
	top :-18px;
}

ul.tabs1 {
	margin: 0;
	padding: 0;
	float: left;
	list-style: none;
	height: 32px; /*--Set height of tabs--*/
	border-bottom: 1px solid #999;
	border-left: 1px solid #999;
	width: 97%;
}
ul.tabs li {
	float: left;
	margin: 0;
	padding: 0;
	height: 31px; /*--Subtract 1px from the height of the unordered list--*/
	line-height: 31px; /*--Vertically aligns the text within the tab--*/
	border: 1px solid #999;
	border-left: none;
	margin-bottom: -1px; /*--Pull the list item down 1px--*/
	overflow: hidden;
	position: relative;
	background: #e0e0e0;
}
ul.tabs li a {
	text-decoration: none;
	color: orange;
	display: block;
	font-size: 1.2em;
	padding: 0 20px;
	border: 1px solid #fff; /*--Gives the bevel look with a 1px white border inside the list item--*/
	outline: none;
}
ul.tabs li a:hover {
        color :white;
	background:orange;
}
html 
li.active, html ul.tabs li.active a:hover  { /*--Makes sure that the active tab does not listen to the hover properties--*/
	background: #fff;
	border-bottom: 1px solid #fff; /*--Makes the active tab look like it's connected with its content--*/
}

.user
{
font-size:20px;
text-transform:uppercase;
color:orange;
}

.tab_container1 {
	border: 1px solid #999;
	border-top: none;
	overflow: hidden;
	clear: both;
	float: left; width: 97%;
	background: #fff;
}
.tab_container {
	border: 1px solid #999;
	border-top: none;
	overflow: hidden;
	clear: both;
	float: left; width: 82%;
	background: #fff;
}
.tab_content {
	padding: 20px;
	font-size: 1.2em;
	
}

.atable{
	border-collapse:collapse;
	border:1px solid #AAA;
	width:97%;
}
.topcalss {
	background-color: gray;

}
.atable th{
	border:1px solid #AAF;
	background:#ADD8E6;
	font-weight:bold;
}

.atable td{
	padding:4px;
	border:1px solid #AAF;
}

.oddRow{
	background:#FFFFFF;
}

.evenRow{
	background:#F0F8FF;
}
.allcaps {
	font-variant: small-caps;
	text-transform: uppercase;
	font-family:"Gothem Book","Arial";
	font-size:20px;
}

#ch_main_div {
    border-color: #F4F4F4;
    border-radius: 5px 5px 5px 5px;
    border-style: solid;
    border-width: 10px;
    margin-top: 35px;
}

#ch_main_div1{
	border-width:60px;
  	border-style:solid;
    border-radius: 15px 15px 15px 15px;
  	border-color:#ffffff;
	margin-top:10px;
	-moz-border-radius:    5px;
    -webkit-border-radius: 5px;
    border-radius:         5px;
}
#ch_main_div2{
	border-width:5px;
  	border-style:solid;
    border-radius: 15px 15px 15px 15px;
  	border-color:#f4f4f4;
	margin-top:10px;
	-moz-border-radius:    5px;
    -webkit-border-radius: 5px;
    border-radius:         5px;
	background-color:#fffff
}

div.htmltooltip{
	position: absolute; /*leave this and next 3 values alone*/
	z-index: 1000;
	left: -1000px;
	top: -1000px;
	background: #272727;
	border: 10px solid black;
	color: white;
	padding: 3px;
	width: 250px; /*width of tooltip*/
}

 
/* Z-index of #mask must lower than #boxes .window */
#mask {
  position:absolute;
  left:0;
  top:0;
  z-index:9000;
  background-color:#999999;
  display:none;
}
#boxes .window {
  position:absolute;
  top:90px;
  width:440px;
  height:200px;
  display:none;
  z-index:9999;
  padding:20px;
}
/* Customize your modal window here, you can add background image too */
#boxes #dialog {
  width:375px; 
  height:203px;
  padding:10px;
  background-color:#ffffff;
}
