#image
{
position:relaticve;
margin-top:0px;
}
p{
color:green;
font-weight:bold;
font-size:26px;
margin-top:20px;
}
#top_score
{
padding-left: 50%;
font-weight:bold;
font-size:16px;
color:gray;
}
.tasks_color
{
font-size:16px;
font-weight:bold;
color:green;
}
#points
{
font-size:16px;
font-weight:bold;
color:gray;
}

.notcompleted2 {
    color: #FFFFFF;
    float: left;
    left: 1%;
    position: relative;
    top: 12%;
}
#update_progress {
    margin-right: -10px;
    padding-left: 100px;
    position: relative;
}
#button_color
{
background-color:orange;
color:white;
margin-right:20px;
}
.task
{
	width:100%;
	}
#td_content_percentage1
{
color:green;
font-weight:bold;
font-size:20;
}
.ui-widget-content
{
border-radius: 0px 0px 0px 0px;
}