#cboxBottomCenter {
    height: 0px;
}
#cboxMiddleLeft {

    width: 0px;
}
#cboxTopCenter {
    height: 0;
}
#cboxMiddleRight {

    width: 0px;
}
#winList {
    background-color: #F4F4F4;
    color: #666666;
    font-size: 18px;
    font-weight: bold;
    padding: 10px 12px 20px;
    width: auto;
}

#winListM {
    background-color: #FFFFFF;
    color: #666666;
    font-size: 14px;
    font-weight: bold;
    padding: 10px 10px 10px 20px;
    width: auto;
}

#winListMNo {
    background-color: #F4F4F4;
    border: 2px solid #D0D0D0;
    margin-top: 10px;
    padding: 10px 10px 10px 20px;
}
#winListMNoEdit{
    background-color: #f4f4f4;
    border: 2px;
    border-style:solid;
    border-color: #D0D0D0;
    margin-top: 10px;
    padding: 10px 10px 10px 20px;
}	

#winListMNoL1{
    margin-top: 10px;
    background-color: #ffffff;
}
#winListMNoL{
    margin-top: -40px;
    background-color: #ffffff;
}
#addPersonalM{
    margin-top:10px;	
}

#addPersonalMm{
    margin-top:10px;	
}

.textareaMessage{
    border-width: 1px;
    border-style: solid;
    border-color: #999999;
    background-color:#F4F4F4;
    background-repeat: repeat-x;
    font-family: Arial;
    font-size: 15px;
    color: #333333;
    resize: none;
    height: 50px;	
    width:98%;
}

.linksMWinner {
    background: none repeat scroll 0 0 #f9a943;
    border-radius: 3px 3px 3px 3px;
    color: #FFFFFF;
    display: block;
    font-size: 12px;
    margin: 20px 0;
    padding: 5px;
    text-align: center;
    text-transform: uppercase;
    width: 90px;
    margin-right:10px;
    position: relative;
    text-align: center;
    top: -20px;
}

#sentMessage{
    color: #666666;
}

#backround
{
    background: #BBB;
    padding-left: 10px;
}
#winners_text{
    font-weight: bold;
    font-size: 15px;
    color: #999;
}
#backround1 {
    background: #BBB;
    text-align: right;
    float: right;
    position: relative;
    padding-right: 30px;
}
.titlepopup {
    position: relative;
    top: -4px;
}
#image
{
    position:relaticve;
    margin-top:0px;
}

#top_score {
    color: #666666;
    font-size: 12px;
    font-weight: bold;
    padding-left: 50%;
}
.tasks_color
{
    font-size:16px;
    font-weight:bold;
    color:green;
}
#points
{
    font-size:16px;
    font-weight:bold;
    color:gray;
}

.notcompleted2 {
    color: #FFFFFF;
    float: left;
    left: 49%;
    position: relative;
    top: 12%;
}
#update_progress {
    margin-right: -10px;
    padding-left: 100px;
    position: relative;
}
#button_color
{
    background-color:orange;
    color:white;
    margin-right:20px;
}
.task
{
    width:100%;
}

ul.tabs1 li a {
    border: 1px solid #FFFFFF;
    color: #FFFFFF;
    display: block;
    font-size: 1.2em;
    outline: medium none;
    padding-left: 20px;
    padding-right: 20px;
    text-decoration: none;
    width: 100px;
}
#createnewte
{
    padding: 0;
}

#total {
    color: #999999;
    float: left;
    font-size: 11px;
    font-weight: bold;
    left: -18px;
    position: relative;
}
#rankcout
{
    color: #F9A943;
    font-weight: bold;
    font-size: 19px;
}

#myscore {
    color: #666666;
    font-size: 12px;
    font-weight: bold;
}

#rankcolor
{
    color: #999999;
    font-weight: bold;
}
.pointscolor{

    color: #666666;
    font-weight: bold;
    font-size: 13px;
}


#percentage_personal {
    color: #7AC142;
    float: left;
    font-size: 14px;
    font-weight: bold;
    left: -8px;
    margin-top: -28px;
    position: relative;
}

.resttask {
    color: #999;
    float: left;
    left: -1px;
    position: relative;
    top: 0;
    font-family: arial;
}

#aspercentage_personal{
    color: #7AC142;
    font-weight: bold;
    margin: 7px -8px 0;
}
.links_score_p {
    background: none repeat scroll 0 0 #F9A943;
    border-radius: 0 0 0 0;
    color: #FFFFFF;
    display: block;
    font-size: 12px;
    font-weight: bold;
    height: 14px;
    margin: 0 0 0 52px;
    padding-bottom: 9px;
    padding-top: 4px;
    text-align: center;
    text-transform: uppercase;
    width: 87%;
    border: 1px solid #666;
}

.markAsComplete {
    background: none repeat scroll 0 0 #C9C9C9;
    border-radius: 0 0 0 0;
    color: #000000;
    display: block;
    font-size: 12px;    
    height: 14px;
    margin: 0 0 0 52px;
    padding-bottom: 9px;
    padding-top: 4px;
    text-align: center;    
    width: 45%;
    border: 1px solid #666;
    float:right;
}

.markAsCompletee {
    background: none repeat scroll 0 0 #C9C9C9;
    border-radius: 0 0 0 0;
    color: #000000;
    display: block;
    font-size: 12px;    
    height: 14px;
    margin: 0 0 0 52px;
    padding-bottom: 9px;
    padding-top: 4px;
    text-align: center;    
    width: 45%;
    border: 1px solid #666;
    float:right;
}


.links_score_p:hover
{
    color:#fff;
}
