.update_challenge_stat
{
    border: 1px solid #666666;
    float: right;
    height: 20px;
    position: relative;
    right: 37px;
    top: -1px;
    width: 180%;
}
.maindiv
{
	height: 180px;
    width: 500px;
	background: #F0F0F0;
}


#cboxContent
{
	float: left;
	width: 500px; 
	height: 150px;
}
#cboxWrapper
{
	height: 150px;
	width: 500px;
}
#textstyle 
{
	color: #666666;
    float: left;
    font-size: 14px;
    font-weight: bold;
    left: 30px;
    position: relative;
    top: 10px;
}
.subdiv {
		background: none repeat scroll 0 0 white;
		float: right;
		height: 120px;
		position: relative;
		right: 4%;
		top: 22px;
		width: 92%;
}
.styletext
{
	color: #666666;
    font-size: 12px;
    font-weight: bold;
}
.divspac
{
	margin-left: 60px;
}

