.update_challenge_stat
{
	float: right;
    position: relative;
    right: 25px;
    width: 30%;
}
.maindiv
{
	height: 150px;
    width: 500px;
	background: #F0F0F0;
}
#cboxClose {
    bottom: 0;
    height: 25px;
    position: absolute;
    right: 0;
    text-indent: -9999px;
    top: 0;
    width: 25px;
}

#cboxContent
{
	float: left;
	width: 500px; 
	height: 150px;
}
#cboxWrapper
{
	height: 150px;
	width: 500px;
}
#textstyle 
{
	color: #666666;
    float: left;
    font-size: 14px;
    font-weight: bold;
    left: 30px;
    position: relative;
    top: 10px;
}
.subdiv {
		background: none repeat scroll 0 0 #FFFFFF;
    float: right;
    height: 130px;
    position: relative;
    right: 4%;
    top: 22px;
    width: 92%;
}

