/* tables */


table.tablesorter thead tr .header{
    background-image: url(bg.gif);
    background-repeat: no-repeat;

    cursor: pointer;
}

#content1{

    background-position: 35% center;

}
#content2{

    background-position: 100% center;

}
#content3{
    background-position: 100% center;
    text-align: center;
}
#content4{

    background-position: 97% center;

}
.position
{
    position: relative;
    float: right;
    right: 3%;

}

table.tablesorter thead tr .headerSortUp {
    background-image: url(asc.gif);
}
table.tablesorter thead tr .headerSortDown {
    background-image: url(desc.gif);
}
.messages_box_picture{
    font-size: 11px;
    float: right;
    color: #999;
    font-weight: bold;
}
.messages_box_name{
    font-size:14px;
    color:#666666;
}
.messages_box_message{
    font-size:12px;
    color:#666666;

}
.icon_facebook{
    float:right;
}