thead
{

color:#8C8C8C;
font-weight:bold;
}
#myscore_td
{
text-align:left;
}
.td_content_score
{
text-align:center;
}
#sign
{
color:orange;
font-size:8;
font-weight:bold;
}
.hour
{
width:30px;
text-align: center;
}
#orange
{
color:orange;
}
#green
{
color:green;
}
#total_score
{
color:green;
font-weigth:bold;
}
.my_submit_button
{
background-image: url("/assets/update.png");
color:#fff;
height: 26px;
width: 89px;
}
.my_submit_button1
{
background-image: url("/assets/submit_button.PNG");
background-repeat:no-repeat;
color:#fff;
height: 26px;
width: 89px;
}
border: none;
}
.td_content
{
text-align:center;
color:#8C8C8C;
font-weight:bold;
}
#update_time
{
text-align:center;
color:#8C8C8C;
font-weight:bold;
}
#tfoot{
 font-style: normal;
 font-weight:bold;
 color:#D7D7D7;
 font-size:16px;
}
#taskstatus
{
font-weight:bold;
color:#8C8C8C;
font-size: 14px;
}
.tr_style
{
background:#ffffff;
}
.tr_style1
{
background:#f1faec;
}
hr_line
{
background:#ffffff;
}
hr_line1
{
background:#f1faec;
}

#total {
    color: #999999;
    float: left;
    font-size: 11px;
    font-weight: bold;
    left: 1px;
    position: relative;
}
.taskupdate_bgcolor{
	background:#f4f4f4;
}

.tab_container {
    background: none repeat scroll 0 0 #FFFFFF;
    border-color: #F4F4F4 #F4F4F4 #FFFFFF;
    border-style: solid;
    border-width: 2px;
    clear: both;
    float: left;
    overflow: hidden;
    width: 100%;
	border-bottom:2px solid #666666;
}