<% as= current_user.challenges.size %>

<div class="dashboardsidebar">
	<div class="mychallenge">
		<div id="titlechallenge">
			<div style="left: 16px; position: relative; top: 5px;">
				MY CHALLENGES <font color="#ffffff"><b>( <%= as %> ) </b></font>
			</div>
			<div class="second_titlechallenge">
				<%= button_to "", new_challenge_url, :class => "new_challenge_button", :method => :get%>
			</div>
		</div>						
		<div style="overflow-y: auto; overflow-x: hidden;  height : 465px;" id="challengedetails">
		<%= render 'dashboard/challengeProgress'%>
		</div>
	</div>
</div>