<header>
	<nav class="round">
		<ul>					
			<li><%= link_to "Home", root_path %></li>				
			<li><%= link_to "Challenges", challenges_path %></li>  
			<li><%= link_to "Login/Signup", login_path %></li>
		</ul>
	</nav>
</header>