<footer>
	<nav class="round">
		<ul>
			<li><%=link_to_function "About Us", onClick="window.open('http://www.dojitsu.com','mywindow','width=1024', 'height=auto')"%>
			<li><%= link_to "Contact Us", contactus_path %></li>   
		</ul>
	</nav>
</footer>
