<html>
<head>
<script type="text/javascript" src="#{Rails.root}assets/javascripts/application.js"></script>
<script type="text/javascript">
$(document).ready(function(){
alert("welcome");
});
</script>
</head>
<body>
</body>
</html>